<!DOCTYPE html>
<html>
<head>

    <title>Velora | Products</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

{% include 'navbar.html' %}
<div class="container">

<h1>Our Products</h1>

<form method="GET" class="filter-box">

<select name="category">

<option>All</option>

{% for c in categories %}

<option value="{{ c }}">

{{ c }}

</option>

{% endfor %}

</select>

<select name="brand">

<option>All</option>

{% for b in brands %}

<option value="{{ b }}">

{{ b }}

</option>

{% endfor %}

</select>

<input
type="number"
name="price"
placeholder="Max Price">

<button type="submit">

Apply Filters

</button>

</form>

<input
type="text"
id="search"
placeholder="Search Products..."
onkeyup="searchProduct()">

<div class="products" id="productContainer">

{% for p in products %}

<div class="card">

<img src="{{ url_for('static', filename='images/' + p.Image) }}" alt="{{ p.ProductName }}">

<h3>

<a href="{{ url_for('product_details', product_id=p.ProductID) }}">

{{ p.ProductName }}

</a>

</h3>

<p><b>Category:</b> {{ p.Category }}</p>

<p class="rating">
⭐⭐⭐⭐☆ ({{ p.Rating }})
</p>

<p>

<del>₹{{ p.Price + 1000 }}</del>

<span class="offer">

₹{{ p.Price }}

</span>

</p>
<a href="{{ url_for('add_to_cart', product_id=p.ProductID) }}">
    <button>🛒 Add to Cart</button>
</a>

<a href="{{ url_for('wishlist', product_id=p.ProductID) }}">

<button class="wish">

❤ Wishlist

</button>

</a>

<a href="{{ url_for('buy_now', product_id=p.ProductID) }}">
    <button class="buy-now">
        ⚡ Buy Now
    </button>
</a>

</div>

{% endfor %}

</div>

</div>

<script src="{{ url_for('static',filename='js/script.js') }}"></script>
{% include 'footer.html' %}

</body>

</html>